@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #803cc3;

/* var(--secondaryColor) !important; */
--secondaryColor: #c33cc3;

/* var(--accentColor) !important; */
--accentColor: #3c3cc3;

/* var(--fontFamily) !important; */
--fontFamily: "Figtree", sans-serif;

}
