<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Customer Care -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Customer Care</h3>
          <ul>
            <li><a href="contact.html">Contact Support</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="shipping.html">Shipping Information</a></li>
            <li><a href="returns.html">Returns & Exchanges</a></li>
          </ul>
        </div>

        <!-- About -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>About Us</h3>
          <ul>
            <li><a href="about-us.html">Our Story</a></li>
            <li><a href="mission.html">Mission & Values</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </div>

        <!-- Shop -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Shop</h3>
          <ul>
            <li><a href="shop.html">All Products</a></li>
            <li><a href="new-arrivals.html">New Arrivals</a></li>
            <li><a href="best-sellers.html">Best Sellers</a></li>
            <li><a href="sale.html">On Sale</a></li>
          </ul>
        </div>

        <!-- Resources -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Resources</h3>
          <ul>
            <li><a href="size-guide.html">Size Guide</a></li>
            <li><a href="gift-cards.html">Gift Cards</a></li>
            <li><a href="track-order.html">Track Your Order</a></li>
            <li><a href="newsletter.html">Newsletter Signup</a></li>
          </ul>
        </div>
      </div>

      <!-- Social Media -->
      <div class="row mt-4">
        <div class="col text-center">
          <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook fa-lg"></i></a>
          <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter fa-lg"></i></a>
          <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram fa-lg"></i></a>
          <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
