<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Main navigation">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand fw-bold" href="index.html">NAMA EMPORIUM</a>

      <!-- Mobile toggle -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- Find NAMA EMPORIUM -->
          <li class="nav-item">
            <a class="nav-link" href="find-NAMA EMPORIUM.html">Find NAMA EMPORIUM</a>
          </li>

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">Our Mission</a>
          </li>

          <!-- Get Involved Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="getInvolvedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Get Involved </a>
            <ul class="dropdown-menu" aria-labelledby="getInvolvedDropdown">
              <li><a class="dropdown-item" href="donate.html">Donate</a></li>
              <li><a class="dropdown-item" href="volunteer.html">Volunteer</a></li>
              <li><a class="dropdown-item" href="start-your-own.html">NAMA EMPORIUM</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="community-stories.html">Community Stories</a></li>
            </ul>
          </li>

          <!-- Events -->
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>

          <!-- Contact -->
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>

        <!-- Optional Search -->
        <form class="d-flex ms-lg-3" role="search">
          <label for="site-search" class="visually-hidden">Search NAMA EMPORIUM</label>
          <input id="site-search" class="form-control me-2" type="search" placeholder="Search libraries..." aria-label="Search NAMA EMPORIUM" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
